.height-12 { 
    height: 12%; 
  }

.widht{
    width: 23%;
}
.custom-width {
    width: 15%;
  }

.width-70 {
    width: 70% !important;
}

.width-50 {
    width: 50% !important;
}   

.wrap-n{
    flex-wrap: nowrap !important;
}